body {
    font-family: Arial;
}

.nav {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px 0 10px 10px;
    margin: 0 265px 0 331px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav img {
    padding: 15px 0;
    width: 210px;
    margin: 0 10px;
}

.nav .catalog li {
    padding: 0 15px;
    font-size: 13px;
    color: #5a6580;
    margin: auto;
}

.nav .catalog {
    margin: 0 80px 0 100px;
}

.nav .catalog span {
    font-size: 8px;
    color: #606c88;
    align-items: start;
}

.nav .icon {
    margin-right: 50px;
}

.nav .icon li {
    font-size: 30px;
    color: #808080;
    padding: 7px 12px;
    margin: auto;
}
.title_screen {
    padding: 150px 315px 150px 381px;
    background: url("https://maurisweb.ru//images/maurisweb_and_wm/1/5e36d8de6a1fa_website/zrazrabotka-saytov/MW100-a-3-33.jpg") no-repeat;
    background-size: 100%;


}
.title_screen img{
    height: 100px;
    width: auto;
    margin-bottom: 100px;
}
.title_screen .text{
    width: 540px;

}
.title_screen h1{
    font-size: 50px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-align: left;
    line-height: 60px;
    margin: 20px 0 10px;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
}
.title_screen p{
    font-size: 14px;
    color: rgb(85, 85, 85);
    line-height: 21px;
    font-weight: 400;
    padding: 6px 0 ;
    margin-bottom: 70px;
    /*width: 50px;*/
    font-family: 'Open Sans', sans-serif;
}
.title_screen .button em{
    padding: 16px;
    color: rgb(0, 91, 255);
    font-size: 16.8px;
    border: solid 2px rgb(0, 91, 255);
    border-radius: 30px;

}
